{% from "template/_versions.jinja" import versions -%}
terraform {
  required_version = "= {{ versions.opentofu }}"

  required_providers {
    cloudflare = {
      source  = "cloudflare/cloudflare"
      version = "= {{ versions.cloudflare_provider }}"
    }
  }
}

variable "account_id" {
  type        = string
  description = "Cloudflare account identifier."
}

variable "name" {
  type        = string
  description = "Cloudflare Pages project name."
}

resource "cloudflare_pages_project" "this" {
  account_id        = var.account_id
  name              = var.name
  production_branch = "main"
}

output "name" {
  value       = cloudflare_pages_project.this.name
  description = "Cloudflare Pages project name used by Wrangler."
}
