{% from "template/_versions.jinja" import versions -%}
plugins {
    id("org.jetbrains.kotlin.multiplatform") version "{{ versions.kmp_kotlin }}" apply false
    id("org.jetbrains.kotlin.plugin.compose") version "{{ versions.kmp_kotlin }}" apply false
    id("org.jetbrains.kotlin.plugin.serialization") version "{{ versions.kmp_kotlin }}" apply false
    id("com.android.application") version "{{ versions.kmp_agp }}" apply false
    id("org.jetbrains.compose") version "{{ versions.kmp_compose }}" apply false
}
