{% from "template/_versions.jinja" import versions -%}
{
  "$schema": "https://biomejs.dev/schemas/{{ versions.biome }}/schema.json",
  "formatter": {
    "enabled": true,
    "indentStyle": "space"
  },
  "linter": {
    "enabled": true,
    "rules": {
      "preset": "recommended"
    }
  },
  "overrides": [
    {
      "includes": ["**/*.astro"],
      "linter": { "enabled": false },
      "assist": { "enabled": false }
    }
  ]
}
