{% from "template/_versions.jinja" import versions -%}
{
  "name": "frontend",
  "private": true,
  "version": "{{ versions.project }}",
  "type": "module",
  "scripts": {
    "dev": "astro dev",
    "build": "astro build",
    "check": "biome check . && astro check",
    "format": "biome format --write .",
    "release:staging": "wrangler pages deploy dist --project-name={{ cloudflare_project_id }}-astro-staging --branch=main",
    "release:production": "wrangler pages deploy dist --project-name={{ cloudflare_project_id }}-astro-production --branch=main"{% if frontend_playwright %},
    "test:e2e": "playwright test"{% endif %}
  },
  "dependencies": {
    "astro": "{{ versions.astro }}"{% if frontend_ai_sdk %},
    "ai": "{{ versions.ai }}",
    "zod": "{{ versions.zod }}"{% endif %}{% if frontend_i18next %},
    "i18next": "{{ versions.i18next }}"{% endif %}
  },
  "devDependencies": {
    "@astrojs/check": "{{ versions.astro_check }}",
    "@biomejs/biome": "{{ versions.biome }}",
    "typescript": "{{ versions.astro_typescript }}",
    "wrangler": "{{ versions.wrangler }}"{% if frontend_playwright %},
    "@playwright/test": "{{ versions.playwright }}"{% endif %}
  }
}
