{% from "template/_versions.jinja" import versions -%}
{
  "$schema": "https://biomejs.dev/schemas/{{ versions.biome }}/schema.json",
  "files": { "includes": ["**", "!dist", "!.wrangler"] },
  "formatter": { "enabled": true, "indentStyle": "space" },
  "linter": { "enabled": true, "rules": { "preset": "recommended" } }
}
