{% from "template/_versions.jinja" import versions -%}
{
  "name": "hono-backend",
  "private": true,
  "version": "{{ versions.project }}",
  "type": "module",
  "scripts": {
    "dev": "wrangler dev",
    "build": "wrangler deploy --env=\"\" --dry-run --outdir dist",
    "release:staging": "wrangler versions upload --env staging --strict --tag $GITHUB_SHA --message $GITHUB_SHA && wrangler versions deploy --env staging --version-tag $GITHUB_SHA --yes",
    "release:production": "wrangler versions upload --env production --strict --tag $GITHUB_SHA --message $GITHUB_SHA && wrangler versions deploy --env production --version-tag $GITHUB_SHA --yes",
    "check": "biome check . && tsc --noEmit",
    "format": "biome format --write .",
    "test": "bun test"
  },
  "dependencies": {
    "hono": "{{ versions.hono }}"{% if hono_ai_sdk %},
    "ai": "{{ versions.ai }}",
    "zod": "{{ versions.zod }}"{% endif %}
  },
  "devDependencies": {
    "@biomejs/biome": "{{ versions.biome }}",
    "@cloudflare/workers-types": "{{ versions.cloudflare_workers_types }}",
    "@types/bun": "{{ versions.bun }}",
    "typescript": "{{ versions.typescript }}",
    "wrangler": "{{ versions.wrangler }}"
  }
}
