package {{ kmp_identifier }}

import kotlin.test.Test
import kotlin.test.assertTrue

class AppTest {
    @Test
    fun starterTestRuns() {
        assertTrue("Compose Multiplatform is ready".isNotEmpty())
    }
}
