{% if frontend_tanstack_query -%}
import { QueryClient, QueryClientProvider } from "@tanstack/react-query";
{% endif -%}
import { StrictMode } from "react";
import { createRoot } from "react-dom/client";
{% if frontend_i18next -%}
import "./integrations/i18n";
{% endif -%}
import { App } from "./App";
import "./styles.css";

{% if frontend_tanstack_query -%}
const queryClient = new QueryClient();

{% endif -%}
const root = document.getElementById("root");

if (!root) {
  throw new Error("Root element not found");
}

createRoot(root).render(
  <StrictMode>
{%- if frontend_tanstack_query %}
    <QueryClientProvider client={queryClient}>
      <App />
    </QueryClientProvider>
{%- else %}
    <App />
{%- endif %}
  </StrictMode>,
);
